[package]
name = "glitter"
version = "1.3.8"
authors = ["Milo123459"]
edition = "2018"
include = ["src/**/*", "LICENSE", "README.md"]

[dependencies]
serde_json = "1.0.64"
serde = { version = "1.0.126", features = ["derive"] }
structopt = "0.3.21"
anyhow = "1.0.41"
fancy-regex = "0.6.0"
Inflector = { version = "0.11.4", default-features = false }
colored = "2.0.0"
